'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Dyndocker'
    'submenu': [
    	{
    		'label': 'Toggle Viewer'
    		'command': 'dyndocker:toggle'
    	},
      {
        'label': 'Restart Server'
        'command': 'dyndocker:restart'
      },
    	{
    		'label': 'Eval Dyndoc'
    		'command': 'dyndocker:eval' 
    	},
      {
        'label': 'Compile Dyndoc'
        'command': 'dyndocker:compile' 
      },
      {
        'label': 'Task Dyn->Tex->Pdf'
        'command': 'dyndocker:task-write-dyn2tex2pdf' 
      },
      {
        'label': 'Task Dyn->Html'
        'command': 'dyndocker:task-write-dyn2html' 
      },
      {
        'label': 'Atom Dyndoc'
        'command': 'dyndocker:atom-dyndoc' 
      }
    ]
  ]
]