# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://www.atom.io/docs/latest/advanced/keymaps

'.platform-darwin atom-workspace':
  'cmd-alt-r t': 'dyndocker:task-write-dyn2tex2pdf'
  'cmd-alt-r h': 'dyndocker:task-write-dyn2html'
  'cmd-alt-x d': 'dyndocker:eval'
  'cmd-alt-x a': 'dyndocker:atom-dyndoc'
  'cmd-alt-x c': 'dyndocker:compile'
  'cmd-alt-x t': 'dyndocker:toggle'
  'cmd-alt-x r': 'dyndocker:restart'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'alt-r t': 'dyndocker:task-write-dyn2tex2pdf'
  'alt-r h': 'dyndocker:task-write-dyn2html'
  'ctrl-alt-x d': 'dyndocker:eval'
  'ctrl-alt-x a': 'dyndocker:atom-dyndoc'
  'ctrl-alt-x c': 'dyndocker:compile'
  'ctrl-alt-x t': 'dyndocker:toggle'
  'ctrl-alt-x r': 'dyndocker:restart'

'.platform-darwin .dyndocker':
  'cmd-+': 'dyndocker:zoom-in'
  'cmd-=': 'dyndocker:zoom-in'
  'cmd--': 'dyndocker:zoom-out'
  'cmd-_': 'dyndocker:zoom-out'
  'cmd-0': 'dyndocker:reset-zoom'

'.platform-win32 .dyndocker, .platform-linux .dyndocker':
  'ctrl-+': 'dyndocker:zoom-in'
  'ctrl-=': 'dyndocker:zoom-in'
  'ctrl--': 'dyndocker:zoom-out'
  'ctrl-_': 'markdown:zoom-out'
  'ctrl-0': 'dyndocker:reset-zoom'
